<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	  <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="importwise-packages" value="https://pkgs.dev.azure.com/importwisedev/Importwise/_packaging/importwise-packages/nuget/v3/index.json" />
  </packageSources>
  <apikeys>
    <add key="https://pkgs.dev.azure.com/importwisedev/Importwise/_packaging/importwise-packages/nuget/v3/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAlZFCD6n7Vk2XZ1EyWy1segAAAAACAAAAAAAQZgAAAAEAACAAAABpAYRp4vlkef5/tnrDf7hTko1V4+pJwKi7vAo2pe8zMwAAAAAOgAAAAAIAACAAAABjrWFQCxbXjxYQOpDR0p9ZXh+6i8HcQruOGxlEcp9YZRAAAAD1fGBYAh9iQzYCVYiO06G3QAAAAB8upgp4dOj5D74bwXIuzyC8Ew9T1h+qWP0I1RPxnjpACoLiRCn+5HGHurJIwWajUR/y5h7OYHO3s/7u3ZofCik=" />
  </apikeys>
</configuration>